[Unit]
Description=AlfarPOS Backend Service
After=postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=alfar
ExecStart=/home/alfar/go/bin/alfarpos-backend

[Install]
WantedBy=multi-user.target